.auth-form {
  width: 45%;
  margin: auto;
}

.auth-form-error {
  margin: var(--app-md-spacing) 0px var(--app-md-spacing) 0px;
  display: inline-block;
  width: 100%;
  color: var(--app-danger-color);
  padding-left: 0.5rem;
  opacity: 0;
  font-size: 0.8em;
  text-align: center;
}

.auth-form-error.active {
  opacity: 0.88;
  font-weight: 500;
}
