.auth-form {
  width: 45%;
  margin: auto;
  color: var(--app-white-color);
  overflow: hidden;
}

.auth-form input {
  font-size: 1.1em;
}

.auth-form-error {
  margin: var(--app-md-spacing) 0px var(--app-md-spacing) 0px;
  display: inline-block;
  width: 100%;
  color: var(--app-danger-color);
  padding-left: 0.25rem;
  opacity: 0;
  font-size: 0.8em;
  text-align: center;
  white-space: nowrap;
}

.auth-form-error.active {
  opacity: 0.92;
  font-weight: 500;
}
