*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--app-dark-color);
  min-height: 100vh;
  font-family: "Roboto";
  padding: 1rem;
  color: var(--app-light-color);
  letter-spacing: 1px;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  user-select: none;
  line-height: 140%;
  width: 100%;
}

h3 {
  margin: var(--app-md-spacing) 0px;
  font-size: 1.2em;
}

h2 {
  text-align: center;
}

header {
  margin: var(--app-md-spacing);
}

pre {
  margin: 0px;
  padding: var(--app-md-spacing);
  font-weight: 500;
  border-radius: var(--app-md-spacing);
}

code {
  display: inline-block;
  font-weight: 300;
  font-family: "FiraCode";
  overflow-y: auto;
  line-height: 140%;
  max-height: 580px;
  color: var(--app-white-color);
}

pre code {
  width: 100%;
}

p {
  user-select: none;
}

dfn,
em,
address {
  font-style: normal;
}

blockquote {
  margin: 0.25rem 0px;
  user-select: none;
  display: block;
  width: 100%;
}

ul,
ol {
  list-style-position: inside;
  line-height: 140%;
  padding: var(--app-md-spacing);
}

address {
  letter-spacing: inherit;
  text-transform: none;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.2s linear;
  width: auto;
}

button {
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
  letter-spacing: inherit;
  background: none;
}

abbr {
  text-decoration: none;
}

cite {
  padding: var(--app-sm-spacing);
}

form {
  padding: var(--app-lg-spacing);
}

input {
  outline: none;
  padding: var(--app-lg-spacing);
  display: inline-block;
  border: none;
  color: inherit;
  background: none;
  width: 100%;
  box-shadow: var(--app-features-card-shadow);
  border-radius: var(--app-md-spacing);
  font-size: 1em;
  letter-spacing: inherit;
}

input:focus {
  outline: 2px solid var(--app-success-color);
  box-shadow: none;
}

input::placeholder {
  color: inherit;
  opacity: 0.7;
  font-size: 0.92em;
  transition: 0.25s all linear;
}

input:focus::placeholder {
  opacity: 0;
  transform: scale(0);
}

input[type="submit"] {
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--app-success-color);
  box-shadow: none;
  font-weight: 700;
  letter-spacing: 1px;
}

input[type="submit"]:disabled {
  opacity: 0.7;
  cursor: none;
  background: none;
}

input[type="submit"]:hover {
  color: var(--app-warning-color);
}
