.header {
  display: flex;
  align-items: center;
<<<<<<< Updated upstream
  background: var(--app-features-card-bg);
=======
  justify-content: space-between;
  background: var(--app-advantages-card-bg);
>>>>>>> Stashed changes
  padding: var(--app-md-spacing);
  border-radius: var(--app-md-spacing);
  position: relative;
  margin: 0 0 1.5rem 0;
  gap: 1rem;
}

.header-logo {
  padding: var(--app-sm-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

<<<<<<< Updated upstream
.header .material-icons-round {
  font-size: 2em;
}

.header-nav {
  margin-left: auto;
=======
.header-logo img {
  width: 100%;
  height: 100%;
>>>>>>> Stashed changes
}

.header-menu {
  display: flex;
  list-style-type: none;
}

.header-menu li {  
  font-family: inherit;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.menu-link.active {
  font-weight: 700;
  color: var(--app-danger-color);
}

.burger {
  display: none;
  margin-left: auto;
}

.auth,
.home {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--app-light-card-shadow);
  padding: var(--app-sm-spacing);
}

.home {
  margin-left: var(--app-md-spacing);
}
