.auth-form
    width: 45%
    margin: auto
    color: $app-white-color
    overflow: hidden

    p
        position: relative
    
    &-error
        margin: $app-md-spacing 0px
        display: inline-block
        width: 100%
        color: $app-danger-color        
        opacity: 0
        font-size: 0.8em
        text-align: center
        font-weight: 500
        min-height: 45px
        font-weight: 500        
        
        &.active
            opacity: 0.92           

    input 
        font-size: 1.1em

        