.authForm
    width: 45%
    margin: auto
    color: var(--app-dark-color)
    overflow: hidden
    background: var(--app-dark-secondary-color)
    padding: var(--app-lg-spacing)  
    border-radius: var(--app-lg-spacing)
    box-shadow: 0.5px 0.5px 1.5px var(--app-darken-color) 

    input 
        font-size: 1.1em
        box-shadow: 0.5px 0.5px 1.5px var(--app-darken-color), -0.5px -0.5px 1.5px var(--app-darken-color)         


    &-logo
        width: 50px
        height: 50px
        margin: 1rem auto

        img
            width: 100%
            height: 100%

    &-title
        margin: var(--app-lg-spacing) 0px
        position: relative
        top: -0.5rem              
    
    &-error
        margin: var(--app-md-spacing) 0px
        display: inline-block
        width: 100%
        color: var(--app-danger-color)        
        opacity: 0
        font-size: 0.8em
        text-align: center
        font-weight: 500
        min-height: 45px
        font-weight: 500 

        &.active
            opacity: 0.92

    p
        position: relative                

    