.description 
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 0.5rem
	position: relative

	.section-text 
		margin: 0px		

	&-slogan 
		margin: var(--app-lg-spacing) 0px
		color: var(--app-success-color) 		
		font-style: italic
		font-weight: bold	
		font-size: 1.2em
		border-left: 4px solid var(--app-darken-color)	
		line-height: 140%
		font-family: 'Georgia', serif
		padding: 0.5rem	0.5rem 0.5rem 1rem
		letter-spacing: 1px
		text-shadow: 0.25px 0.25px 1.8px

	&-service-title
		font-family: 'Georgia', serif
		color: var(--app-success-color)
		text-shadow: 0.25px 0.25px 1.8px		 
	


	
				

		
	




