#documentation	
		
	.doca
		margin-bottom: var(--app-xl-spacing)
		cursor: pointer
		text-shadow: none

		&:last-child
			margin-bottom: 0px	
				
	a
		display: flex
		align-items: center
		column-gap: var(--app-sm-spacing)
	em
		@extend .entities-card-url
		font-weight: 700		
		margin: 0px
		
		
		

			
