#examples 
		
	.request-card-url.doca
			margin-bottom: var(--app-xl-spacing)
			font-family: 'FiraCode'
			cursor: pointer
	a
		
		display: flex
		align-items: center
		column-gap: var(--app-lg-spacing)	
			
	
