.footer 		
	border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px 
	position: relative	
	font-size: 0.95em		
	z-index: 1	
	font-weight: 300
	line-height: 150%
	display: flex
	align-items: center	
	flex-wrap: wrap
	row-gap: var(--app-sm-spacing)

	&-link
		display: flex
		align-items: center
		column-gap: var(--app-md-spacing)
		
		&:hover
			color: var(--app-success-color)

		&-tasks
			padding: var(--app-md-spacing)
			flex-basis: content
			
			strong
				font-variant: small-caps				

				&::after
					content: ''
					height: 1px
					display: block
					width: 100%
					background: var(--app-default-color)
					opacity: .07

		&-copyright
			padding: 0px var(--app-md-spacing)
			margin-left: auto
			width: max-content
			display: block				 				
	
	address
		align-items: center
		display: flex
		column-gap: var(--app-sm-spacing)	

	.material-icons-round 
		font-size: 1.65em

	&-hr
		@include hr-base(var(--app-default-color), 0.1)
		width: 100%

		


	

	


		
		