.footer 	
	padding: var(--app-lg-spacing)
	border-radius: var(--app-md-spacing) var(--app-md-spacing) 0px 0px 
	position: relative	
	font-size: 0.95em	
	position: relative
	z-index: 1
	background: var(--app-default-bg)	
	font-weight: 300
	line-height: 150%	

	&-link
		display: flex
		align-items: center
		column-gap: var(--app-md-spacing)
		width: max-content

		&:hover
			color: var(--app-warning-color)

		&-tasks
			padding: var(--app-md-spacing)
			flex-basis: content
			
			strong
				font-variant: small-caps				

				&::after
					content: ''
					height: 1px
					display: block
					width: 100%
					background: var(--app-white-color)
					opacity: .07 				
	
	address
		align-items: center
		display: flex
		column-gap: var(--app-sm-spacing)
	

	.material-icons-round 
		font-size: 1.5em
		color: var(--app-warning-color)

	

	


		
		