.header 
	display: flex
	align-items: center
	padding: var(--app-md-spacing)
	border-radius: var(--app-md-spacing)
	position: relative
	margin: 0 0 1.5rem 0
	gap: 0.5rem
	flex-wrap: wrap

	&-logo 
		padding: var(--app-sm-spacing)
		@include flex-default
		cursor: pointer
		width: 60px
		height: 60px
		img
			width: 100%
			height: 100%

	&-nav
		margin-left: auto			

	&-menu 
		display: flex
		list-style-type: none		

		li			
			font-family: inherit
			letter-spacing: 1px
			font-variant: small-caps

	&-hr
		@include hr-base
		width: 100%		

	&-menu-link
		
		&.active 
			font-weight: 700
			color: var(--app-danger-color)			

	
.burger 
	display: none
	margin-left: auto

	.material-icons-round  
		font-size: 2rem

.theme, .auth 
	cursor: pointer
	@include flex-default
	padding: 0px

.user
	position: relative

	&-menu
		position: absolute
		width: max-content
		left: 0px
		top: 100%
		z-index: 4
		color: var(--app-dark-color)
		background: var(--app-dark-bg)
		display: none
		list-style-type: none		
		border-radius: 0px var(--app-sm-spacing) var(--app-sm-spacing) 0px
			

	&-login		
		font-size: 1.1em	
		height: max-content
		cursor: pointer
		transition: all linear 0.2s

		&:hover 
			color: var(--app-success-color)
			transform: scale(1.02)
	
	&-logout
		cursor: pointer
		display: flex
		align-items: center
		gap: 0.5rem

	&:hover	.user-menu
		display: block		

	

		
	
	


		

