.header 
	display: flex
	align-items: center	
	background: $app-features-card-bg
	padding: $app-md-spacing
	border-radius: $app-md-spacing
	position: relative
	margin: 0 0 1.5rem 0
	gap: 1rem
	

	&-logo 
		padding: $app-sm-spacing
		display: flex
		align-items: center
		gap: $app-md-spacing
		color: $app-danger-color
		letter-spacing: 0.125rem
		font-weight: 700
		cursor: pointer

	.material-icons-round 
		font-size: 2em

	&-nav
		margin-left: auto		

	&-menu 
		display: flex
		list-style-type: none		

		li
			font-family: inherit
			letter-spacing: 1px
			font-variant: small-caps

.menu-link.active 
	font-weight: 700
	color: $app-danger-color		

		
.burger 
	display: none
	margin-left: auto

.signup-icon, .signin-icon, .home
	cursor: pointer
	border-radius: 50%
	box-shadow: $app-light-card-shadow
	padding: $app-sm-spacing

.home
	margin-left: $app-md-spacing	
				



		

