.header 
	display: flex
	align-items: center	
	background: var(--app-default-bg)
	padding: var(--app-md-spacing)
	border-radius: var(--app-md-spacing)
	position: relative
	margin: 0 0 1.5rem 0
	gap: 0.5rem

	.material-icons-round 
		font-size: 2em	

	&-logo 
		padding: var(--app-sm-spacing)
		display: flex		
		align-items: center
		justify-content: center		
		cursor: pointer
		width: 60px
		height: 60px

		img
			width: 100%
			height: 100%

	&-nav
		margin-left: auto			

	&-menu 
		display: flex
		list-style-type: none
		

		li			
			font-family: inherit
			letter-spacing: 1px
			font-variant: small-caps

.menu-link.active 
	font-weight: 700
	color: var(--app-danger-color)		

		
.burger 
	display: none
	margin-left: auto

.theme 
	cursor: pointer
	display: flex
	align-items: center
	justify-content: center
	padding: var(--app-md-spacing) 0px

.burger, .theme  
	
	.material-icons-round  
		font-size: 2rem	

.auth, .home
	cursor: pointer
	border-radius: 50%
	box-shadow: $app-card-shadow
	padding: var(--app-sm-spacing)	

.home
	margin-left: var(--app-md-spacing)	

.auth
	background: var(--app-default-bg)
	box-shadow: $app-elem-shadow
				



		

