@mixin flex-default
    justify-content: center
    align-items: center
    display: flex

@mixin hr-base($color, $opacity)
    height: 2px
    border: none
    border-radius: var(--app-sm-spacing)	
    opacity: $opacity
    display: block
    background-color: $color

@mixin checkbox
    width: 25px
    height: 25px
    cursor: pointer
    accent-color: var(--app-danger-color)

    &:focus
        outline: none

    
@mixin popup($display)
    position: fixed
    width: 100%
    height: 100vh
    top: 0px
    left: 0px
    background: var(--app-default-bg)
    backdrop-filter: blur(1.3px)
    display: none

    &.active
        display: $display


@mixin mb($bottom) 
    margin-bottom: $bottom    
                           		

@mixin linkHover    
    @content
    &:hover 
        color: var(--app-success-color)
        transform: scale(1.01)                                    