@mixin flex-default
    justify-content: center
    align-items: center
    display: flex

@mixin hr-base
    height: 2px
    border: none
    border-radius: var(--app-sm-spacing)	
    opacity: 0.1
    display: block
    background-color: var(--app-default-color)
    		