.noticeModal
    position: fixed
    padding: var(--app-lg-spacing)
    top: var(--app-xl-spacing)
    right: var(--app-lg-spacing)
    transform: translateX(110%)
    opacity: 0.1
    min-height: 2rem
    background: var(--app-default-bg)
    font-size: 0.93em
    width: 75%
    font-family: 'FiraCode', serif    
    border: 1px dotted
    border-top: none
    transition: 0.4s all linear
            
    &.active
        transform: translateX(0%)
        opacity: 1
    
    &-exit
        @include flex-default        
        width: max-content
        position: absolute
        top: -0.1rem
        right: 0px
        font-size: inherit
        cursor: pointer

        &:hover
            color: var(--app-success-color)


    &-text
        margin: 0px 
        margin-bottom: 0px   
        font-weight: 700 
        margin-top: var(--app-md-spacing)     