.noticeModal
    position: fixed
    padding: var(--app-md-spacing)
    top: var(--app-xl-spacing)
    right: var(--app-lg-spacing)
    transform: translateX(110%)
    opacity: 0.1
    min-height: 2rem
    background: var(--app-default-bg)
    font-size: 0.93em
    width: 75%
    font-family: 'FiraCode', serif    
    border: 1px dotted
    border-top: none
    transition: 0.4s all linear
    text-align: right
            
    &.active
        transform: translateX(0%)
        opacity: 1
    
    &-exit
        @include flex-default        
        width: max-content 
        font-size: inherit
        cursor: pointer
        margin-left: auto

        &:hover
            color: var(--app-success-color)

    &-text
        margin: var(--app-sm-spacing) 0px 0px 0px       
        font-weight: 700         
        text-align: left    