.profileContainer
    position: relative

    h1
        margin-bottom: var(--app-xl-spacing)

    .btn
        @include flex-default
        gap: 0.25rem
        
    .app-section
        @include mb(2.2rem)        

    code
        font-weight: 700
        color: var(--app-danger-color)
        font-size: 1.1em     
             
    
.accessToken-section

    li
        @include flex-default
        justify-content: flex-start

    .request-card-copybar
        background: var(--app-default-card-bg)    

    &-value
        color: var(--app-danger-color)
        font-weight: 500
        letter-spacing: 1.5px
        user-select: text
        border: 1px dotted var(--app-default-color)
        padding: var(--app-md-spacing)
        white-space: nowrap
        cursor: default
        font-size: 1.1em        
        
        &::-webkit-scrollbar-thumb 
            background-color: var(--app-default-bg)    

    &-form
        margin: var(--app-md-spacing) 0px
        
        fieldset
            padding: var(--app-md-spacing)
            border: none
            border: 1px dotted

        legend
            padding: 0px var(--app-sm-spacing)
            display: inline-block
            background: var(--app-default-bg)

    &-tokenDeathTimeElem

        padding-bottom: var(--app-md-spacing)                  

.user-section

    &-data
        border: 1px dotted
        padding: var(--app-md-spacing)

    p
        @include flex-default
        gap: var(--app-md-spacing)
        justify-content: space-between
        margin: var(--app-md-spacing) 0px            

    code
        width: 50%
        &::-webkit-scrollbar-thumb 
            background-color: var(--app-default-bg) 
        

.logout-section    

    &-logoutBtn    
        border: 1px dotted    
        padding: var(--app-md-spacing)       



               
        

