.quizContainer
    font-family: 'FiraCode'

    .btn
        @include flex-default
        gap: 0.25rem

.quizItem
    margin: 3rem 0px

    h3
        text-transform: none    

    &-ul
        padding: 0px

    &-li
        width: 100%
        @include flex-default
        justify-content: flex-start
        gap: var(--app-md-spacing)
        font-size: 1.1em
        margin: var(--app-lg-spacing) 0px
        font-weight: 500
   
    &-answer      
        overflow: auto
        width: 90%

    &-input
        @include checkbox

.quizControlBar
    @include flex-default
    justify-content: flex-start
    margin: var(--app-xl-spacing) 0px
    gap: 1rem        

    .material-icons-round
        font-size: 2rem       


.output
    
    pre
        font-weight: 700
        font: inherit
        border: 1px dotted   
        height: auto
        width: 100%
        display: inline-block
        padding: 0.5rem
        border-radius: 0px 

    output
        display: block
        width: 100%
        text-wrap-mode: wrap

        a
            cursor: pointer

            &:hover
                color: var(--app-success-color)
                transform: scale(1.01)

.quiz-link
    width: 100%    
    @include linkHover                    

 


             
