.quizContainer
    font-family: 'FiraCode'

    .btn
        @include flex-default
        gap: 0.25rem

.quizItem
    margin: var(--app-xl-spacing) 0px
    background: var(--app-default-card-bg)
    padding: var(--app-md-spacing)
    border-radius: var(--app-md-spacing)
    box-shadow: var(--app-default-shadow)

    h3
        text-transform: none    

    &-ul
        padding: 0px

    &-li
        width: 100%
        @include flex-default
        justify-content: flex-start
        gap: var(--app-md-spacing)
        font-size: 1.1em
        margin: var(--app-lg-spacing) 0px
        font-weight: 500
   
    &-answer      
        overflow: auto
        width: 90%

    &-input
        @include checkbox

.quizControlBar
    @include flex-default
    justify-content: flex-start
    margin: var(--app-xl-spacing) 0px
    gap: 1rem        

    .material-icons-round
        font-size: 2rem    

.output    
    padding: var(--app-md-spacing)
    max-height: 40vh
    overflow-Y: auto
    border: 1px dotted
    border-radius: var(--app-md-spacing)
    
    output
        display: block
        width: 100%
        text-wrap-mode: wrap

        a
            cursor: pointer
            margin: var(--app-sm-spacing) 0px

            &:hover
                color: var(--app-success-color)
                transform: scale(1.01)

        strong
            display: inline-block
            margin: var(--app-sm-spacing) 0px            

.quiz-link
    width: 100%
    background: var(--app-default-card-bg)
    margin-bottom: var(--app-xl-spacing)		

    @include linkHover

    &:last-child
        margin-bottom: 0rem		

    article
        font-size: 1.1em
        @include flex-default
        justify-content: flex-start
        column-gap: var(--app-sm-spacing)
        padding: var(--app-md-spacing)
        margin: 0px  
        font-weight: 500
             
