.spinner
    z-index: 2
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: none
    width: 120px
    height: 20px
    margin: 20px
    --size: 20px
    --largeSize: 40px
    --color: var(--app-danger-color)
    --speed: 1.5s
    --padding: 10px

    div 
        position: absolute
        background: var(--color)
        border-radius: 50%
        width: var(--largeSize)
        height: var(--largeSize)
        top: -10px

    &-circle1 
        animation: var(--speed) ease-in-out 0s infinite inlarge1
        left: 0


    &-circle2 
        animation: var(--speed) ease-in-out infinite inlarge2
        left: calc(var(--largeSize) + var(--padding))


    &-circle3 
        animation: var(--speed) ease-in-out infinite inlarge3
        left: calc(var(--largeSize) * 2 + var(--padding) * 2)

    &.active
        display: flex
        

@keyframes inlarge1 
    0%, 10%, 30%, 100% 
        width: var(--size)
        height: var(--size)
        top: 0
        left: 0
  
    20% 
        width: var(--largeSize)
        height: var(--largeSize)
        top: -10px
        left: -10px
  

@keyframes inlarge2 
    0%, 40%, 60%, 100% 
        width: var(--size)
        height: var(--size)
        top: 0
        left: calc(var(--largeSize) + var(--padding))
    
    50% 
        width: var(--largeSize)
        height: var(--largeSize)
        top: -10px
        left: calc(var(--largeSize) + var(--padding) - 10px)
  

@keyframes inlarge3 
    0%, 70%, 90%, 100% 
        width: var(--size)
        height: var(--size)
        top: 0
        left: calc(var(--largeSize) * 2 + var(--padding) * 2)
  
    80% 
        width: var(--largeSize)
        height: var(--largeSize)
        top: -10px
        left: calc(var(--largeSize) * 2 + var(--padding) * 2 - 10px)
  



        			    



       




    
                
                  


    