.support    
    padding: var(--app-md-spacing)
    @include flex-default

    .btn        
        align-items: center
        padding: var(--app-lg-spacing)
        letter-spacing: 1.5px
        font-variant: small-caps
        background: $app-danger-card-bg
        color: var(--app-dark-color)        

        &:hover
            transform: scale(102%)				      

    .material-icons-round
        font-variant: normal
        font-size: 1.5em
        margin-right: var(--app-md-spacing)
        color: var(--app-warning-color)
             

