:root	
	--app-light-color:#2D3748  
	--app-dark-color: #fff

	--app-light-card-bg: #eaebee
	--app-dark-card-bg: #1E1E2E

	--app-light-bg: var(--app-dark-color)
	--app-dark-bg: #2D2D40

	--app-light-shadow: 0.5px 0.5px 3px #EDF2F7, 0.5px 0.5px 3px #EDF2F7
	--app-dark-shadow: 0.5px 0.5px 3px #12121F, 0.5px 0.5px 3px #12121F

	--app-darken-color: #444644
	--app-danger-color: #d84961
	--app-warning-color: #cfbf21
	--app-purple-color: #9216a8
	--app-success-color: #1c963c
	--app-teal-color: rgb(14, 96, 100)
	--app-pink-color: #ff0095
	--app-secondary-color: #29333D

	--app-default-color: var(--app-dark-color)
	--app-default-bg: var(--app-dark-bg)
	--app-default-card-bg: var(--app-dark-color)
	--app-default-shadow: var(--app-dark-shadow)

	--app-sm-spacing: 0.25rem
	--app-md-spacing: 0.5rem
	--app-lg-spacing: 0.75rem
	--app-xl-spacing: 1.25rem
	--app-xxl-spacing: 1.5rem

	--app-card-offset: 40%  

// $app-features-card-bg: linear-gradient(
// 	to right bottom,
// 	var(--app-dark-bg) 60%,
// 	var(--app-darken-color)
// )

$app-gradient-card-bg: linear-gradient(
  135deg,
  var(--app-dark-bg) 0%,
  #161620 100%
)

$app-danger-card-bg: linear-gradient(
    to right top,
    var(--app-pink-color) 10%,    
    var(--app-danger-color) 50%,
    var(--app-pink-color) 90%
)




