.references
    min-height: 80vh

    h1
        margin-bottom: var(--app-xl-spacing)

    h2
        margin-top: 2rem

    ul
        list-style-type: disc
        list-style-position: inside
        line-height: 150%

    li
        font-family: Roboto
        font-variant: normal
        margin: var(--app-xl-spacing) 0px
        cursor: default

        a
            width: auto
