@media (max-width: 1200px) 
    body 
        font-size: 15px

    .appContainer
        width: 100%

    .burger 
        display: flex
    
    .header        
        
        &-nav 
            position: absolute
            top: 0%
            right: 0px
            // background: $app-features-card-bg
            background: var(--app-default-card-bg)    
            z-index: -1
            opacity: 0
            transition: all 0.3s ease-out  
            padding: var(--app-xl-spacing) 
            border-radius: 0px var(--app-md-spacing) var(--app-md-spacing) 0px
            min-width: calc-size(max-content, size + 25px)		

            &.active 
                opacity: 1
                z-index: 1 	
        
        &-menu
            flex-direction: column
            padding: 0px
            color: var(--app-default-color) 
                
            .li
                font-size: 1.15em                							
                    
                &::after
                    @include hr-base(var(--app-default-color), 0.1)
                    content: ''				
                    width: 100%
                    background: var(--app-default-color)
                    margin: var(--app-sm-spacing) 0px

                &:last-child
                    margin-bottom: 0px	
						    


    


 
        

